<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haiqi.yx"
    android:versionCode="20170601"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>



    <application
        android:name=".YxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="QBSDKAppKey"
            android:value="Q7xpuMkavjlnT1JB+DounMu3">
        </meta-data>

        <activity
            android:name=".entry.MainAct"
            android:theme="@style/MainTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".webviewx5.X5Act"/>
        <activity android:name=".entry.TestAct"/>
        <activity android:name=".entry.TestMDAct"/>

        <service android:name="com.haiqi.base.service.DownApkService"/>


        <!--  此部分代码需要移植到您的 app 下的 manifest，并且 authorities
        指定您的包名。例如：com.android.FileProvider
               -   否则使用拍照功能时，会崩溃
               兼容7.0系统 fileUriExp异常-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.haiqi.yx.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
    </application>



</manifest>
